@import url('https://fonts.googleapis.com/css?family=Satisfy');

body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {

  font-family: Arial, Helvetica, sans-serif;

}

#header {
  width: 100%;
  display: flex;
  height: 60px;
  border-bottom: 1px solid darkgray;
  border-top: 5px solid gray;
  align-items: center;
}

.headerDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

#addButton {
  border: none;
  background-color: white;
  height: 60px;
  width: 150px;
  font-size: 1rem;
}

#addButton:hover {
  background-color: gray;
  color: white;
}

.nameAndDates > * {
  margin: 3px;
  text-align: center;
  font-weight: normal;
}

.bio {
  font-family: 'Satisfy';
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.hidden {
  display: none;
}

.playButton {
  display:flex;
  justify-content: center;
  margin: 5px;
}

.playButton > button {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 50%;
  background: lightgray;
  border: 1px solid gray;
}

.playButton > button:hover {
  background: gray;
  color: white;
}

#main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.obituaries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, auto);
}

.obituaries > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.obituary {
  border: 1px solid rgb(210, 210, 210);
  margin: 20px;
  overflow: hidden;
  width: 100%;
  /* min-width: 200px;
  max-width: 300px; */
  border-radius: 12px;
}

.image {
  width: 100%;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .obituaries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .obituaries {
    grid-template-columns: repeat(1, 1fr);
  }
  .obituary {
    width: 80%;
  }
}

