.overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 600vw;
    height: 1100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }
  
  .overlay__container {
    background-color: white;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index:10;
    
    width: 100%;
    height: 100%;
  }
  
  .overlay__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .overlay__close:after {
    display: inline-block;
    content: "\00d7";
  }
  
  .overlay__close {
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
  }

.bottom-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bottom-flex-2 {
  display:flex;
  justify-content: center;
  align-items: center;
  width:450px;
  height: 40px;
  background-color:lightgreen;
  border:none;
  
}

.bottom-flex-2:hover {
  background-color:darkgreen;
  color:white;
}

#image-input {
  display:none;
}

#magic-button {
  display:flex;
  justify-content: center;
  outline:none;
  border:none;
  background-color: white;
  
  margin-top:50px;
  
}

#upflexbox {
  display:flex;
  justify-content: center;
  width:450px;
  height:40px;
  
  margin-top:15px;
}

#birthinput {
  display:flex;
  border: none;
  position: relative;
  left: 160px;
  margin-top: 100px;
}

.date-line {
  display:flex;
  border:none;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
  position:relative;
  right:10px;
}

#datebox1{
  margin-left:10px;
  border:none;
  margin-right:10px;
}

#datebox2{
  margin-left:10px;
  border:none;
}

#wrapper {
  display:flex;
  justify-content: center;
}

#maintextbox {
  display:flex;
  justify-content: center;
}

#bottomwrapper {
  display:flex;
  justify-content: center;
}

.disabled {
  background: gray;
  color: white;
}

.disabled:hover {
  background-color: gray;
}